In [1]:
#Devansh Arora 209303373
#Write a program to demonstrate Naive Bayes Classifier 

import pandas as pd

In [2]:
url=(r'https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/titanic.csv')
df = pd.read_csv(url)
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [5]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [6]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [7]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [8]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [10]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [13]:
model.fit(X_train,y_train)

GaussianNB()

In [14]:
model.score(X_test,y_test)

0.7761194029850746

In [15]:
X_test[0:10]

     Pclass        Age      Fare  female
452       1  30.000000   27.7500   False
208       3  16.000000    7.7500    True
174       1  56.000000   30.6958   False
263       1  40.000000    0.0000   False
285       3  33.000000    8.6625   False
505       1  18.000000  108.9000   False
389       2  17.000000   12.0000    True
650       3  29.699118    7.8958   False
496       1  54.000000   78.2667    True
870       3  26.000000    7.8958   False

In [16]:
y_test[0:10]

452    0
208    1
174    0
263    0
285    0
505    0
389    1
650    0
496    1
870    0
Name: Survived, dtype: int64

In [17]:

model.predict(X_test[0:10])

array([0, 1, 0, 0, 0, 1, 1, 0, 1, 0], dtype=int64)

In [18]:
model.predict_proba(X_test[:10])

array([[0.7343424 , 0.2656576 ],
       [0.32768003, 0.67231997],
       [0.6999533 , 0.3000467 ],
       [0.74141173, 0.25858827],
       [0.96642323, 0.03357677],
       [0.13971509, 0.86028491],
       [0.17650236, 0.82349764],
       [0.96554065, 0.03445935],
       [0.01636735, 0.98363265],
       [0.96412895, 0.03587105]])

In [19]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.824     , 0.776     , 0.752     , 0.76612903, 0.75806452])